@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 320.2 88.6% 25.7%; /* blue-ish */
    --primary-foreground: 355.7 100% 97.6%;
    --secondary: 240 5.3% 94.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.7% 15.9%;
    --accent: 240 5.7% 94.1%;
    --accent-foreground: 240 5.6% 11.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 62.8% 30.6%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 317.9 85.6% 42.7%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --gold: 45 100% 51%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0 98%;
    --primary: 0 0 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 3.7% 15.9%;
    --muted: 240 3.7% 15.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 5.9% 10%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
